
{% for name in upstream %}
upstream {{ name }} {
    {{ upstream[name].server }}
}
{% endfor %}

server {
    listen {{ ansible_facts.default_ipv4.address}}:80 default_server;
    server_name {{ item }};
    root /var/www/{{ item }};
    index index.html;
    try_files $uri /index.html;
}
